<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diseasetracker.diseasetracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/disease_tracker_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/disease_tracker_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelSelection"
            android:screenOrientation="landscape" />
        <activity android:name=".Level1"
            android:screenOrientation="landscape"/>
        <activity android:name=".Level2"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>